<section class="by-genre">
    <button
    class="nav-button"
    onclick="location.href='http://localhost:8000/books/fiction/'";
  >
    Fiction
  </button>
  <button
  class="nav-button"
  onclick="location.href='http://localhost:8000/books/non-fiction'";
>
  Non-Fiction
</button>
<button
class="nav-button"
onclick="location.href='http://localhost:8000/books/drama/'";
>
Drama
</button>
<button
class="nav-button"
onclick="location.href='http://localhost:8000/books/graphic-novel'";
>
Graphic Novel
</button>
<button
class="nav-button"
onclick="location.href='http://localhost:8000/books/'";
>
All
</button>
  
</section>