<% books.forEach(function(item) { %>
  
            <div class="titleAuthor">
                <p class="bookTitle">Title: <%- item.title %></p>
                <p class="bookID">Book ID: <%- item.id %></p>
            </div>
      
    <% }); %>
    