<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title> 
    <!-- the key in this example is "title" that we are refering-->
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<header>
    <h1><%= title %></h1>
</header>