<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/book-page.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/song-page.css" />
    <link rel="stylesheet" href="/css/song.css" />
    <link rel="stylesheet" href="/css/typography.css" />
    <script src="../views/pages/top50.js"></script>
  </head>
  <body>
    <header>
      <h1><%= title %></h1>
    </header>
  </body>
</html>
