  <div class = "songWrapper">
    <div class = "songBox">
      <h2 class="songTitle"><%= song.title%></h2>
      <p class = "songArtist"><%= song.artist%> </p>
      <p class = "songStreams"><%= song.streams%> </p>
    </div>
  </div>