<ol>
    <% top50.forEach(song => { %>
        <li class=song>  
            <div class="rank-streams">
                <div class="rank"><%- `#${song.rank}` %></div>
                <div class="streams"><%- `(${song.streams} streams)` %></div>
            </div>

            <div class="name">
                <%- song.title %>
            </div>

            <div class="date">
                <%- song.publicationDate %>
            </div>





        </li>
    <% }); %>
</ol>