<div class="mainSong">
    <div class="songDisplay">
        <div class="songTitle">
            <p style="margin-bottom: 10px;"><%- songSelected.title %></p>
        </div>
        <div class="songArtist">
            <p style="margin-top: 20px;"><%- songSelected.artist %></p>
        </div>
        <div class="songStream">
            <p><%- songSelected.streams %></p>
        </div>
    </div>
</div>