  <div class = "songWrapper">
    <i class="fa fa-chevron-circle-left" id="arrow-left-song"></i>
    <div class = "songBox">
      <h2 class="songTitle"><%= song.title%></h2>
      <p class = "songArtist"><%= song.artist%> </p>
      <p class = "songStreams"><%= song.streams%> </p>
    </div>
    <i class="fa fa-chevron-circle-right" id="arrow-right-song"></i>
  </div>
  <!-- <script src="js/arrows.js"></script> -->