body {
	background: linear-gradient(to right, #16222a, #3a6073);
	color: mintcream;
}

/* .bookCont { */
	/* padding-top: 15px; */
/* } */

.bookTitle {
	font-size: 20px;
	padding-top: 5px;
	font-weight: 900;
}

.bookAuthor {
	font-size: 20px;
	padding-top: 5px;
}

.bookType {
	text-transform: uppercase;
	padding-top: 5px;
	padding-left: 15px;
}

.bookDescription {
	font-style: italic;
	padding-top: 5px;
	padding-left: 15px;
}

.bookImg {
	padding-bottom: 25px;
	padding-top: 5px;
}

.bookId {
	font-style: italic;
}

li {
	border-bottom: 1px solid mintcream;
	margin-left: 15px;
	margin-right: 25px;
	padding-top: 15px;
	padding-bottom: 15px;
}
