.row {
  display: flex;
  flex-direction: row;
  flex: 1;
  width: 90%;
  margin-left: 5%;
  padding: 15px;
  border-bottom: 1px solid #808080;
}

.rank-box {
  margin-right: 20px;
  width: 100px;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.rank {
  font-size: 2.5em;
  font-weight: bold;
}

.type {
  font-size: 10px;
  padding-bottom: 10px;
}

.book-box {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding-left: 5px;
}

.book {
  font-size: 1.2em;
  font-weight: bold;
  color: black;
}

.artist {
  font-style: italic;
}

.cover-image > img {
  height: 200px;
  width: 150px;
}

.description-box {
  width: 100vw;
}
