header{
    display:none
}

body{
    background-color:#7DCFB6;
    margin:0;
    padding:0;
    display:flex;
    justify-content: center;
    align-items:center;
}
.topBar{
    display:flex;
    width: 15px;
    background-color: #ECE4B7;
    height:30px;
    width: 100%;
    max-width: 100%;
    position:sticky;
    top:0;
}

.topBarTitle{
    font-size:1.5rem;
    font-weight: bold;
}


.book{
    margin:10px;
    border:1px solid black;
}
.cover > a > img{
    width:300px;
    height:350px;
}
.book{
    display:flex;
}

.info{
    margin-left:5px;
}

.info > .title {
    font-weight:bold;
}

.info > .author{
    font-style: italic;
}