.song {
    border-bottom: 1px solid #808080;
    display: flex;
    padding: 6px 0;
}
.songRank {
        flex: 0 0 100px;
        display: flex;
        flex-direction: column;
}
.songRankNum {
    font-size: 40px;
    font-weight: 700;
}

.songStreamCount {
    font-size: 10px;
    margin-top: -12px;
}


 .songInfo{
    flex: 1 0 auto;
 }

.songInfoTitle {
    font-size: 18px;
    font-weight: 700;
}

.songInfoArtist {
    font-style: italic;
}

.songInfoPubDate {
    font-size: 12px;
    text-align: right;
        
}