#box {
  width: 60%;
  border: 10px solid pink;
  padding: 20px;
  margin: 80px;
  text-align: center;
}

#songTitle {
  border-bottom: black 1px solid;
}

#songArtist {
  margin-top: 5%;
}

#songStream {
  margin-top: 10%;
  font-size: 150px;
}
