ul {
  margin: 24px;
}

li {
  display: flex;
  border-bottom: 1px solid black;
  height: 100px;
  margin: 10px 0;
  padding: 10px 0;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex: 1;
}
.middle {
  flex: 4;
}
.right {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex: 2;
}
.rank {
  font-size: 48px;
  height: 50px;
  display: flex;
  align-items: center;
}
.stream {
  height: 25px;
}
.title-top50 {
  font-weight: bold;
}
.artist-top50 {
  font-style: italic;
}
.date {
  font-size: 12px;
}