<%- include ('../partials/header') %>

<div class='main'>
    <% books.forEach( book  => { %>
        <%- include('../partials/book', { book }) %>
    <% }) %>
</div>

<%- include ('../partials/footer') %>