<%- include('../partials/header.ejs', {}); %>
<div class="basic-info">
    <div>
        <img src="<%- book.imgUrl %>" alt="Book cover">
    </div>
    <div class="book-description">
        <p><%- book.description %></p>
    </div>
</div>
<%- include('../partials/footer.ejs', {}); %>