<%- include( '../partials/header', { title: title }) %>

<div class='main'>
    <ul class='inline-list'>
        <% books.forEach(book => { %>
            <%- include( '../partials/book',  {book: book}) %>
        <% }); %>
    </ul>
</div>

<%- include( '../partials/footer') %>
