<%- include( '../partials/header') %>
<div class='main four-oh-four'>
    <h2 class='title'>Uh Oh</h2>
    <p class='subtitle'>We don't have that song at <%= path %></p>
</div>
<%- include( '../partials/footer') %>