<%- include('../partials/header') %>


<div class ='main'>
    
    <ol class="box">
        <% songsToList.forEach(song => {%>

            <%- include('../partials/songBox', { song: song }) %>


            <% }); %> 
        </ol>
        
</div>
        
<%- include('../partials/footer') %>
