<%- include( '../partials/header', { title: title }) %>

<div class='main'>
  <ul>
    <% songs.forEach(item => { %>
      <%- include( '../partials/song',  {item: item}) %>
    <% }); %>
  </ul>
</div>

<%- include( '../partials/footer') %>
