<%- include('../partials/header') %>

<div class='main'>

<div class ='song-page'>
    
<%- include('../partials/songBox', { song: song }) %>
</div>
</div>
<%- include('../partials/footer') %>
<!-- let song = songsToSearch.find( element => element.rank === songNumber); -->
