<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/song.css">
</head>
<body>
    <h1>Song #<%-songNumber%></h1>
    <div class="songBody">
    <div class="songDiv">
        <h1 class="songTitle"><%-title%></h1>
        <h2 class="songArtist"><%-artist%></h2>
        <h3 class="songStream"><%-streams%></h3>
    </div>
</div>
</body>
</html>