<!doctype html>
<html lang="en">
<head>
<%- include( '../partials/header') %>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/public/css/song.css">
  <link rel="stylesheet" href="/public/css/reset.css">
  <link rel="stylesheet" href="/public/css/song-page.css">
  <link rel="stylesheet" href="/public/css/styles.css">
  <link rel="stylesheet" href="/public/css/typography.css">
</head>
<body>
    <%- include( '../partials/song') %>
  <script src=""></script>
</body>
<footer>
    <%- include( '../partials/footer') %>
</footer>
</html>






