<%- include( '../partials/header') %>

<div class='main'>
  <ul>
    <!-- Render the list on the page (only the rank and title for now).-->
    <% top50.forEach((item) => { %>
      <li><%- `Number ${item.rank}. ${item.title}` %></li>
    <% }); %>
  </ul>
</div>

<%- include( '../partials/footer') %>
