<%- include('../partials/header.ejs') %>
<ul class="songList">
<% top50.forEach(function(item) { %>
    <li>Number <%- item.rank %>: <%- item.title %></li>
    <% }); %>
</ul>
<%- include('../partials/footer.ejs') %>